Loan Repayment or not using DecisionTree

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

In [2]:
balance_data = pd.read_csv(r'C:\Users\PC\Downloads\Decision_Tree_ Dataset.csv',
sep= ',', header= 0)
balance_data

       1      2    3     4    sum Unnamed: 5
0    201  10018  250  3046  13515        yes
1    205  10016  395  3044  13660        yes
2    257  10129  109  3251  13746        yes
3    246  10064  324  3137  13771        yes
4    117  10115  496  3094  13822        yes
..   ...    ...  ...   ...    ...        ...
995  413  14914  523  4683  20533         No
996  359  14423  927  4838  20547         No
997  316  14872  613  4760  20561         No
998  305  14926  897  4572  20700         No
999  168  14798  834  4937  20737         No

[1000 rows x 6 columns]

In [3]:
balance_data.head()

     1      2    3     4    sum Unnamed: 5
0  201  10018  250  3046  13515        yes
1  205  10016  395  3044  13660        yes
2  257  10129  109  3251  13746        yes
3  246  10064  324  3137  13771        yes
4  117  10115  496  3094  13822        yes

In [4]:
balance_data.rename(columns={'1': 'initial payment', '2': 'last payment','3':'Credit score','4':'House Number','Unnamed: 5':'Result'}, inplace=True)
balance_data

     initial payment  last payment  Credit score  House Number    sum Result
0                201         10018           250          3046  13515    yes
1                205         10016           395          3044  13660    yes
2                257         10129           109          3251  13746    yes
3                246         10064           324          3137  13771    yes
4                117         10115           496          3094  13822    yes
..               ...           ...           ...           ...    ...    ...
995              413         14914           523          4683  20533     No
996              359         14423           927          4838  20547     No
997              316         14872           613          4760  20561     No
998              305         14926           897          4572  20700     No
999              168         14798           834          4937  20737     No

[1000 rows x 6 columns]

In [5]:
balance_data.drop(columns=['sum'], inplace=True)
balance_data

     initial payment  last payment  Credit score  House Number Result
0                201         10018           250          3046    yes
1                205         10016           395          3044    yes
2                257         10129           109          3251    yes
3                246         10064           324          3137    yes
4                117         10115           496          3094    yes
..               ...           ...           ...           ...    ...
995              413         14914           523          4683     No
996              359         14423           927          4838     No
997              316         14872           613          4760     No
998              305         14926           897          4572     No
999              168         14798           834          4937     No

[1000 rows x 5 columns]

In [6]:
X = balance_data.values[:, 0:4]
Y = balance_data.values[:,-1]

In [7]:
X_train, X_test, y_train, y_test = train_test_split( X, Y, test_size = 0.3, random_state = 100)

In [8]:
#function to perform training with entropy
clf_entropy = DecisionTreeClassifier(criterion = "entropy", random_state = 100,
 max_depth=3, min_samples_leaf=5)
clf_entropy.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3, min_samples_leaf=5,
                       random_state=100)

In [9]:
y_pred_en = clf_entropy.predict(X_test)
y_pred_en

array(['yes', 'yes', 'No', 'yes', 'No', 'yes', 'yes', 'yes', 'No', 'No',
       'No', 'No', 'yes', 'No', 'No', 'yes', 'yes', 'No', 'yes', 'No',
       'No', 'yes', 'No', 'yes', 'yes', 'No', 'No', 'yes', 'No', 'No',
       'No', 'yes', 'yes', 'yes', 'yes', 'No', 'No', 'No', 'yes', 'No',
       'yes', 'yes', 'yes', 'No', 'No', 'yes', 'yes', 'yes', 'No', 'No',
       'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'No', 'yes',
       'yes', 'No', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'No', 'No',
       'No', 'No', 'No', 'yes', 'No', 'yes', 'yes', 'No', 'yes', 'No',
       'No', 'No', 'No', 'yes', 'No', 'yes', 'No', 'yes', 'yes', 'No',
       'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes',
       'yes', 'No', 'No', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'No',
       'yes', 'yes', 'yes', 'yes', 'No', 'No', 'yes', 'yes', 'yes', 'No',
       'No', 'No', 'No', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'No',
       'No', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'No', 'yes', 'yes',
       'No', 'No', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes',
       'No', 'yes', 'No', 'No', 'No', 'No', 'yes', 'No', 'No', 'No',
       'yes', 'yes', 'No', 'yes', 'yes', 'No', 'yes', 'No', 'yes', 'No',
       'No', 'yes', 'yes', 'No', 'yes', 'No', 'yes', 'yes', 'No', 'No',
       'No', 'No', 'No', 'yes', 'No', 'No', 'yes', 'yes', 'yes', 'yes',
       'yes', 'No', 'yes', 'No', 'yes', 'No', 'No', 'No', 'yes', 'yes',
       'No', 'No', 'No', 'yes', 'yes', 'No', 'No', 'yes', 'yes', 'No',
       'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes',
       'yes', 'No', 'yes', 'yes', 'No', 'No', 'yes', 'No', 'yes', 'yes',
       'No', 'No', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'No', 'No',
       'No', 'No', 'yes', 'yes', 'No', 'yes', 'yes', 'No', 'yes', 'No',
       'No', 'No', 'No', 'yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'No', 'No', 'No',
       'yes', 'No', 'yes', 'yes', 'yes', 'No', 'No', 'No', 'No', 'yes',
       'No', 'yes', 'No', 'No', 'No', 'yes', 'yes', 'No', 'yes', 'yes',
       'yes', 'No', 'No', 'yes', 'No', 'yes', 'yes', 'No', 'No', 'yes',
       'yes'], dtype=object)

In [10]:
#checking accuracy
print ("Accuracy is "), accuracy_score(y_test,y_pred_en)*100

Accuracy is

(None, 93.66666666666667)